# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env

# Flask
instance/

# Vue
node_modules/
dist/

# VS Code
.vscode/

# SQLite
*.sqlite
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Redis
dump.rdb

# Environment
.env.*